openapi: 3.0.1
info:
  title: TODO Plugin
  description: A plugin that allows the user to create and manage a TODO list using ChatGPT.
  version: 'v1'
servers:
  - url: https://magong.se
paths:
  /api/todos:
    get:
      operationId: getTodos
      summary: Get the list of todos or a specific todo
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTodosResponse'
    post:
      operationId: addTodo
      summary: Add a todo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addTodoRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTodosResponse'
    delete:
      operationId: deleteTodo
      summary: Delete a todo
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: number
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTodosResponse'
    put:
      operationId: updateTodo
      summary: Update a todo
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTodoRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTodosResponse'
components:
  schemas:
    getTodosResponse:
      type: object
      properties:
        todos:
          type: array
          items:
            type: object
            description: A todo
            properties:
              id:
                type: number
              msg:
                type: string
              priority:
                type: string
    addTodoRequest:
      type: object
      description: A todo
      properties:
        msg:
          type: string
        priority:
          type: string
    updateTodoRequest:
      type: object
      description: A todo
      properties:
        id:
          type: number
          required: true
        msg:
          type: string
        priority:
          type: string
